<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>어컴퍼니 관리자</title>
</head>
<body>
    <form action="/joinAction" method="post">
        ID : <input type="text" name="id" id="id">
        PSW : <input type="password" name="psw" id="psw">
        <input type="submit" value="회원가입">
    </form>
</body>
</html>