<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/header.css">
    <link rel="stylesheet" href="../public/css/login.css">
    <title>어컴퍼니 관리자</title>
</head>
<body>
    <header class="header_container">
        <h3>관리자 페이지</h3>
    </header>
    <div class="content_container">
        <form action="/loginAction" method="post">
            <img src="../public/img/login/key_icon.png" alt="타이틀이미지">
            <div class="input_container">
                <div class="input_box">
                    <input type="text" name="id" id="" placeholder="ID"><br>
                    <input type="password" name="psw" id="" placeholder="PASSWORD">
                </div>
                <div class="submit_box">
                    <input type="submit" value="Log - In">
                </div>
            </div>
        </form>
    </div>
</body>
</html>